# VS Code
.vscode/
.settings/
*.code-workspace
*.devcontainer

# ESP-IDF
build/
components/*/build/
sdkconfig
sdkconfig.old
partitions.csv
partition_table.csv

# C++
*.o
*.d
*.a
*.exe
*.out

# General
.DS_Store
Thumbs.db
